<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="kh.android.donotforgot">
    <application
        android:label="别忘了"
        android:theme="@android:style/Theme.DeviceDefault.Dialog">
        <service android:name=".ContextCls$NotificationService" />
        <activity android:name=".ContextCls$ManageActivity"
            android:launchMode="singleInstance">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver android:name=".ContextCls$StarterReceiver">
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
